.records{
    display:inline-block;
    width: 296px;
    margin-right: 32px;
    

}
.records p{
    font-size: 15px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    color:#212121;
    text-align: justify;

    
}
.records button{
    font-size: 15px;
   border-radius:100px;
    gap:8px;
    border:none;
   background-color:#96D9F0;
   ;
}