footer{
    width:100%;
   border-top: 1px solid #E2E2E5;
   
}
.footer_Container{
    width:100%;
   display:flex;
   justify-content: space-between;
}
.footer_item1{
    display:flex;
    justify-items:center ;
    align-items:center;
    gap:10px;
}
.footer_item1 a{

    text-decoration: underline;
}
.footer_icons{
  display: inline-flex;
  align-items: flex-end;
}